.global-container{
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	width: 2480px;
	margin: 0 auto;
}

p{
	margin: 0 0;
}

.info-container{
	display: table;
}

.info-column{
	display: table-cell;
}

.photo-container{
	float:left;
	width: 605px;
	height: 459px;
	background-color: #cf4541;
}

.header-image{
	width: 393px;
	height:379px;
	padding-top: 40px;
	padding-left: 151px;
}

#headerName{
	margin: 0px;
	height: 91px;
	font-size: 126px;
	font-weight: bold;
	width: 737px;
	padding-top: 237px;
	padding-left:634px;
	vertical-align: bottom;
}

#headerJob{
	margin: 0px;
	font-size: 81px;
	color: #ef433f;
	font-weight: lighter;
	padding-top: 45px;
	padding-left:634px;
}

.left-infoblock{
	margin-left:151px;
	margin-top:121px;
	width: 1220px;
	font-size: 29pt;
	font-weight: bold;
}

.right-infoblock{
	margin-left:151px;
	margin-top:121px;
	width: 836px;
	font-size: 29pt;
	font-weight: bold;
	background-color:yellow;
}

.infoblock-header{
	background-color: #dbdbdb;
	height:60px;	
	padding-top:18px;
	padding-left: 37px;
}

.left-infoblock p{
	font-size: 30pt;
	font-weight: 900;
	padding-top: 22px;
	width: 1202px;
	height: 442px;
}

.contacts{
	display: table;
	width: 2480px;
	height: 200px;
	margin: 50px auto 0px 151px;
	vertical-align:center;
}

.contacts p{
	padding: 0 300px 0 121px;
	margin-top: 20px;
}

.single-contact{
	display: table-cell;
	margin:10px;
	font-size:50px;
	font-weight: bold;
}

.contact-icon{
	width: 101px;
	height: 101px;
	float:left;
}

.marker-icon{
	width: 69px;
	height: 69px;
	
}

.experience-table{
	display:table;
}

.experience-row{
	display: table-row;
}

.experience-cell{
	display: table-cell;
	padding:20px 20px 0 10px;
	vertical-align: middle; 
}

.left-infoblock .experience-table .experience-row .experience-cell p{
	width: auto;
	height: auto;
}

.experience-cell.years{
	font-size: 50px;
}



